h1{color:red ;}

h1{text-align: center;}

h1{font-size: 250;}

h2{text-align: center;}

#branco {margin-left: 36%;}
#branco {border:solid  red ;}
#branco {width: 45%;}


#sol {margin-left: 49%;}
#sol {border:solid red ;}
#sol {width: 65%;}

#diamante {margin-left: 33%;}
#diamante {border:solid  red ;}
#diamante {width: 45%;}

#saturno{ margin-left: 29%;}
#saturno {border:solid  red ;}
#saturno {width: 45%;}

#jupiter{ margin-left: 29%;}
#jupiter {border:solid  red ;}
#jupiter {width: 45%;}

#russa { margin-left:10%;}
#russa {border:solid  red ;}
#russa {width: 45%;}
h2 {color:rgb(255, 255, 255)}

body {background-color: rgb(0, 0, 0);}
#Jupiter {width:10% ;}

