h1{color:red ;}

h1{text-align: center;}

h1{font-size: 250;}

h2{text-align: center;}

#branco {margin-left: 46%;}

#sol {margin-left: 49%;}

#diamante {margin-left: 39%;}

#saturno{ margin-left: 59%;}

#russa { margin-left: 49%;}

h3 {color:green}

h3 {font-size:350}