h1{color:red ;}

h1{text-align: center;}

h1{font-size: 250;}

h2{text-align: center;}

#branco {margin-left: 46%;}
#branco {border:solid  red ;}

#sol {margin-left: 49%;}
#sol {border:solid red ;}

#diamante {margin-left: 39%;}
#diamante {border:solid  red ;}

#saturno{ margin-left: 59%;}
#saturno {border:solid  red ;}

#jupiter{ margin-left: 59%;}
#jupiter {border:solid  red ;}

#russa { margin-left:10%;}
#russa {border:solid  red ;}

h3 {color:green}

h3 {font-size:750}
 
body {background-color: rgb(0, 0, 0);}
#Jupiter {width:10% ;}